* {
  margin: 0;
  box-sizing: border-box;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f2f2f2;
  padding: 10px 20px;
}

.nav-container {
  display: flex;
  justify-content: center;
}

.nav-links {
  list-style: none;
  display: flex;
  align-items: center;
  padding: 0;
}
/* li에 마진을 줘야함 */
.nav-links > li {
  margin-right: 10px;
}

.nav-links > li > a {
  text-decoration: none;
  color: #333;
  padding: 5px 10px;
  border-radius: 3px;
  background-color: #e2e2e2;
}

.nav-links > li > a:hover {
  background-color: red;
}

.user-container {
  display: flex;
  align-items: center;
}

.user-container > p {
  margin-right: 10px;
}

.btn {
  padding: 5px 10px;
  border: none;
  border-radius: 3px;
  background-color: #e2e2e2;
  cursor: pointer;
}

.btn:hover {
  background-color: #ccc;
}
